.container{
    height:max-content;
    
    
    margin: 0 0;
    display: flex;
    flex-direction: column;
    background-color: #E6E5E4;
}

.container section{
    flex: 1;
    display: grid;
    grid-template-columns: 10rem 1rem ;
    gap: 0;
    align-content: center;
}
